nav{
    display: flex;
    justify-content: space-around;
    margin-left: 400px;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover{
    color: rgb(163, 55, 55);
}