*{
    background-color: rgb(223, 222, 222);
    font-family:Arial, Helvetica, sans-serif;
}

/*colors : #FBFCEE*/

h1, b, h2, p, ul, li, a, i,#flowerimg{
    background-color: transparent;
}

#project{
    border: 1px solid rgb(163, 55, 55);
    border-radius: 15px;
    background-color: rgb(163, 55, 55);
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: white;
}
div{
    margin-left: 20px;
    margin-right: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-left: 400px;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover{
    color: rgb(163, 55, 55);
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 200px;
}

.introduction{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.text{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.aboutme{
    background-color: white;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* justify-content: center; */
}

.goals{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-top: 50px;
    padding: 20px;
}

.goals div{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.skills{
    background-color: white;
    padding: 25px;
    border-radius: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(163, 55, 55);

}